@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
.appBar {
    background-color: rgba(17, 96, 216, 0.925);
    color: rgb(255, 251, 251);
    margin-top: -1.32em;
    box-shadow: 1px 2px 2px 1px rgb(192, 191, 191);
    font-family: 'Great Vibes', cursive;
    font-size: 1.55em;
    text-align: center;
    width: 100%;
}

.appBar-text {
    padding: 0.85em;
}
